<div class="row">
  <div class="col">
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between p-3">
        <h4 class="d-inline-block">Schedules next {{ scheduleHours === 1 ? 'hour' : scheduleHours + ' hours' }}</h4>
        <div class="actions d-inline-block">
          <div class="btn-group" role="group">
            <button
              class="btn btn-outline-secondary"
              (click)="setExecutionScheduleTime(1)"
              ngbPopover="Schedules next hour"
              triggers="mouseenter:mouseleave"
              [class.active]="scheduleHours === 1"
              [class.disabled]="loadingExecutionTimeline"
            >
              1 hour
            </button>
            <button
              class="btn btn-outline-secondary"
              (click)="setExecutionScheduleTime(6)"
              ngbPopover="Schedules next 6 hours"
              triggers="mouseenter:mouseleave"
              [class.active]="scheduleHours === 6"
              [class.disabled]="loadingExecutionTimeline"
            >
              6 hours
            </button>
            <button
              class="btn btn-outline-secondary"
              (click)="setExecutionScheduleTime(24)"
              ngbPopover="Schedules next 24 hours"
              triggers="mouseenter:mouseleave"
              [class.active]="scheduleHours === 24"
              [class.disabled]="loadingExecutionTimeline"
            >
              24 hours
            </button>
          </div>
          <refresh-button class="ml-2" (click)="setExecutionScheduleTime(scheduleHours)" [refreshing]="loadingExecutionTimeline">
          </refresh-button>
        </div>
      </div>
      <div class="card-body d-flex justify-content-center p-0">
        <loading *ngIf="loadingExecutionTimeline" [loadingHorse]="true" class="p-5"></loading>
        <div *ngIf="!loadingExecutionTimeline" class="mx-4 mb-3 w-100">
          <google-chart [data]="executionTimeline"></google-chart>
        </div>
      </div>
    </div>
  </div>
</div>
