<div class="modal-header">
  <h5 class="modal-title modal-header-vertical-center">Schedules are unix-like cron expressions</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true" class="icon icon ion-md-close"></span>
  </button>
</div>

<div class="modal-body">
  <p>
    Cron expressions allow specifying combinations of criteria for time such as: &quot;Each Monday-Friday at 08:00&quot; or &quot;Every last
    friday of the month at 01:30&quot;
  </p>
  <p>A cron expressions consists of 5 or 6 mandatory fields (seconds may be omitted) separated by space:</p>
  <table cellspacing="8" width="800px">
    <tr>
      <th align="left">Field</th>
      <th align="left">&nbsp;</th>
      <th align="left">Allowable values</th>
      <th align="left">&nbsp;</th>
      <th align="left">Special Characters</th>
    </tr>
    <tr>
      <td align="left"><code>Seconds (may be omitted)</code></td>
      <td align="left">&nbsp;</td>
      <td align="left"><code>0-59</code></td>
      <td align="left">&nbsp;</td>
      <td align="left"><code>, - * /</code></td>
    </tr>
    <tr>
      <td align="left"><code>Minutes</code></td>
      <td align="left">&nbsp;</td>
      <td align="left"><code>0-59</code></td>
      <td align="left">&nbsp;</td>
      <td align="left"><code>, - * /</code></td>
    </tr>
    <tr>
      <td align="left"><code>Hours</code></td>
      <td align="left">&nbsp;</td>
      <td align="left"><code>0-23</code></td>
      <td align="left">&nbsp;</td>
      <td align="left"><code>, - * /</code></td>
    </tr>
    <tr>
      <td align="left"><code>Day of month</code></td>
      <td align="left">&nbsp;</td>
      <td align="left"><code>1-31</code></td>
      <td align="left">&nbsp;</td>
      <td align="left"><code>, - * ? / L W</code></td>
    </tr>
    <tr>
      <td align="left"><code>Month</code></td>
      <td align="left">&nbsp;</td>
      <td align="left"><code>1-12 or JAN-DEC</code></td>
      <td align="left">&nbsp;</td>
      <td align="left"><code>, - * /</code></td>
    </tr>
    <tr>
      <td align="left"><code>Day of week</code></td>
      <td align="left">&nbsp;</td>
      <td align="left"><code>1-7 or MON-SUN</code></td>
      <td align="left">&nbsp;</td>
      <td align="left"><code>, - * ? / L #</code></td>
    </tr>
  </table>
  <br />
  <p>'*' Can be used in all fields and means 'for all values'. E.g. &quot;*&quot; in minutes, means 'for all minutes'</p>
  <p>
    '?' Can be used in Day-of-month and Day-of-week fields. Used to signify 'no special value'. It is used when one want to specify
    something for one of those two fields, but not the other.
  </p>
  <p>'-' Used to specify a time interval. E.g. &quot;10-12&quot; in Hours field means 'for hours 10, 11 and 12'</p>
  <p>
    ',' Used to specify multiple values for a field. E.g. &quot;MON,WED,FRI&quot; in Day-of-week field means &quot;for monday, wednesday and
    friday&quot;
  </p>
  <p>
    '/' Used to specify increments. E.g. &quot;0/15&quot; in Seconds field means &quot;for seconds 0, 15, 30, ad 45&quot;. And
    &quot;5/15&quot; in seconds field means &quot;for seconds 5, 20, 35, and 50&quot;. If '*' s specified before '/' it is the same as
    saying it starts at 0. For every field there's a list of values that can be turned on or off. For Seconds and Minutes these range from
    0-59. For Hours from 0 to 23, For Day-of-month it's 1 to 31, For Months 1 to 12. &quot;/&quot; character helsp turn some of these values
    back on. Thus &quot;7/6&quot; in Months field specify just Month 7. It doesn't turn on every 6 month following, since cron fields never
    roll over
  </p>
  <p>
    'L' Can be used on Day-of-month and Day-of-week fields. It signifies last day of the set of allowed values. In Day-of-month field it's
    the last day of the month (e.g.. 31 jan, 28 feb (29 in leap years), 31 march, etc.). In Day-of-week field it's Sunday. If there's a
    prefix, this will be subtracted (5L in Day-of-month means 5 days before last day of Month: 26 jan, 23 feb, etc.)
  </p>
  <p>
    'W' Can be specified in Day-of-Month field. It specifies closest weekday (monday-friday). Holidays are not accounted for.
    &quot;15W&quot; in Day-of-Month field means 'closest weekday to 15 i in given month'. If the 15th is a Saturday, it gives Friday. If
    15th is a Sunday, the it gives following Monday.
  </p>
  <p>
    '#' Can be used in Day-of-Week field. For example: &quot;5#3&quot; means 'third friday in month' (day 5 = friday, #3 - the third). If
    the day does not exist (e.g. &quot;5#5&quot; - 5th friday of month) and there aren't 5 fridays in the month, then it won't match until
    the next month with 5 fridays.
  </p>
  <p><b>Case-sensitive</b> No fields are case-sensitive</p>
  <p>
    <b>Dependencies between fields</b> Fields are always evaluated independently, but the expression doesn't match until the constraints of
    each field are met. Overlap of intervals are not allowed. That is: for Day-of-week field &quot;FRI-MON&quot; is invalid,but
    &quot;FRI-SUN,MON&quot; is valid
  </p>
</div>

<div class="modal-footer d-flex justify-content-end">
  <button type="button" class="btn btn-outline-secondary mr-2" (click)="activeModal.dismiss()">Close</button>
</div>
