<!-- Timeline -->
<ng-container *ngIf="!embedded">
  <span *ngFor="let t of timeline">
    <span [hidden]="t.duration === undefined" class="badge">{{ t.duration | jobDuration: 's' }}</span>
    <span class="time time-{{ t.state }}" ngbPopover="{{ t.label }} {{ t.time | timeAgoStatic }}" triggers="mouseenter:mouseleave">
      <strong>{{ t.label }}</strong>
      <hr />
      <span class="text-muted">{{ t.time | date: 'dd.MM.yyyy' }}</span> {{ t.time | date: 'HH:mm:ss' }}
    </span>
  </span>
</ng-container>

<ng-container *ngIf="embedded">
  <span *ngFor="let t of timeline" class="time-embedded-straight">
    <span [hidden]="t.duration === undefined" class="badge-embedded">{{ t.duration | jobDuration: 's':true }}</span>
    <span class="time-embedded time-{{ t.state }}" ngbPopover="{{ t.label }} {{ t.time | timeAgoStatic }}" triggers="mouseenter:mouseleave">
      <span class="text-muted">{{ t.time | date: 'dd.MM.yyyy' }}</span>
      <hr />
      {{ t.time | date: 'HH:mm:ss' }}
    </span>
  </span>
</ng-container>
