<!-- Menu -->
<div class="navbar navbar-expand navbar-light fixed-top bg-white border-bottom shadow-sm">
  <div class="collapse navbar-collapse" id="menu">
    <div class="navbar-nav align-items-center">
      <div class="navbar-brand ml-3">
        <img *ngIf="statusService.running" class="workhorse-logo" src="assets/workhorse.png" />
        <img *ngIf="!statusService.running" class="workhorse-logo" src="assets/horse-10.png" />
      </div>
      <a
        [routerLink]="['/']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        class="nav-item nav-link"
        href="javascript:;"
        >Dashboard</a
      >
      <a [routerLink]="['jobs']" routerLinkActive="active" class="nav-item nav-link" href="javascript:;">Jobs</a>
      <a [routerLink]="['schedules']" routerLinkActive="active" class="nav-item nav-link" href="javascript:;">Schedules</a>
      <a [routerLink]="['logs']" routerLinkActive="active" class="nav-item nav-link" href="javascript:;">Logs</a>
      <a [routerLink]="['config']" routerLinkActive="active" class="nav-item nav-link" href="javascript:;">Config</a>
    </div>

    <div class="ml-auto d-flex">
      <refresh-interval-selection></refresh-interval-selection>
      <refresh-button [global]="true"> </refresh-button>

      <button
        class="btn d-inline-block status-btn ml-2"
        [ngClass]="statusService.running ? 'btn-outline-secondary' : 'btn-primary'"
        (click)="statusService.running ? statusService.stopWorkhorse() : statusService.startWorkhorse()"
      >
        <i class="ion" [ngClass]="statusService.running ? 'ion-md-square' : 'ion-ios-play'"></i
        ><span class="ml-2">{{ statusService.running ? 'Stop' : 'Start' }}</span>
      </button>
    </div>
  </div>
</div>

<!-- Content -->
<div class="container-fluid mb-4 page">
  <app-breadcrumb></app-breadcrumb>
  <router-outlet></router-outlet>
  <div>
    <!-- corresponding workhorse version -->
    <span class="version ml-2"
      >© <a href="https://coodoo.de/" target="_blank">coodoo GmbH</a> · UI {{ version }} · Workhorse {{ workhorseVersion }} ·
      {{ persistenceName }} {{ persistenceVersion }}</span
    >
  </div>
</div>
