.page {
  margin-top: 85px;
}

.version {
  font-size: 0.6rem;
  color: rgba(0,0,0,.5) !important;
}

.navbar-text {
  line-height: 1;
}

.navbar-nav .nav-link {
  font-size: large;
}

.workhorse-logo {
  width: 50px;
  height: 50px;
  margin: -10px;
}

.status-btn {
  height: 36px;
}

::ng-deep refresh-interval-selection button {
  margin-right: -1px !important;
}

/* Filter-List Styling */
::ng-deep .filter-list-dropdown-button-selected-item-QUEUED {
  color: #209dd7 !important;
  border: 1px solid #209dd7 !important;
}

::ng-deep .filter-list-dropdown-button-selected-item-RUNNING {
  color: #faa31b !important;
  border: 1px solid #faa31b !important;
}

::ng-deep .filter-list-dropdown-button-selected-item-FINISHED,
::ng-deep .filter-list-dropdown-button-selected-item-ACTIVE {
  color: #5cb85c !important;
  border: 1px solid #5cb85c !important;
}

::ng-deep .filter-list-dropdown-button-selected-item-INACTIVE,
::ng-deep .filter-list-dropdown-button-selected-item-ABORTED {
  color: #777777 !important;
  border: 1px solid #777777 !important;
}

::ng-deep .filter-list-dropdown-button-selected-item-FAILED,
::ng-deep .filter-list-dropdown-button-selected-item-NO_WORKER,
::ng-deep .filter-list-dropdown-button-selected-item-ERROR {
  color: #d9534f !important;
  border: 1px solid #d9534f !important;
}

::ng-deep .filter-list-dropdown-button-selected-item-PLANNED {
  color: #4b0082 !important;
  border: 1px solid #4b0082 !important;
}
