.blink {
  animation-iteration-count: initial;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-name: blink-animation;
  animation-duration: 1000ms;
}

@keyframes blink-animation {
  0% { color: white; border-color: white; }
  20% { color: #f7c575; border-color: #faa31b; }
  40% { color: #faa31b; border-color: #faa31b; }
  60% { color: #faa31b; border-color: #faa31b; }
  80% { color: #f7c575; border-color: #faa31b; }
  100% { color: white; border-color: #6c757d; color: #6c757d }
}
