$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$primary: #ef3f37;
$black: #222222;
$gray: #a5a3a3;

// https://getbootstrap.com/docs/3.4/customize/

// $font-size-base: 0.75rem;
// $spacer: 0.5rem;
$enable-rounded: false;
