/* You can add global styles to this file, and also import other style files */
@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

@import '../node_modules/ionicons/dist/css/ionicons.css';
@import '../node_modules/ngx-toastr/toastr.css';

// ist das relevant oder kann das weg?
@import '~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css';

body {
  background-color: #f5f5f5;
}

/* Cards */
.card {
  border-radius: 0;
  border-color: #e9e9e9;
  box-shadow: 0 0 10px 0 #efefef;
}

.card-header {
  border-bottom: 0;
  padding-top: 1.25rem;
  background-color: #fff;
  padding-bottom: 0;
}

.card-footer {
  text-align: right;
  background-color: white;
  border-color: #e9e9e9;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
  border: 1px solid #dee2e6;
  background-color: white;
}

.badge-embedded {
  min-width: 40px;
  max-width: 40px;
  display: inline-block;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 10px;
  border: 1px solid #dee2e6;
  background-color: white;
}

.btn {
  border-radius: 0 !important;

  &.disabled {
    cursor: default;
  }
}

.clickable {
  color: black;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

a {
  color: black;
  &:hover {
    color: black;
  }
}

.ngb-tp-input-container {
  width: 7em !important;
  .btn-link {
    color: black;
  }
}

.modal-content {
  border-radius: 0 !important;
}

.btn-primary {
  background-color: #b2967a;
  border-color: #917254;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #977758;
  background-position: 0 -15px;
  border-color: #917254;
  box-shadow: 0 0 0 0.2rem #b2967a80;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #977758 !important;
  border-color: #917254 !important;
  box-shadow: 0 0 0 0.2rem #b2967a80 !important;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #977758;
  background-image: none;
}

.btn-group button {
  height: 36px;
}

.btn-group.icon-btn-group button {
  width: 36px;
  width: 36px;
  padding: 0;
}

.btn-group button,
.btn-group label {
  margin-right: 2px;
}

.btn.border-danger:focus {
  box-shadow: none !important;
}

.btn.border-danger.text-danger:hover {
  background-color: #dc3545 !important;
  color: white !important;
  transition: background-color 0.15s linear;
  transition: color 0.15s linear;
}

.action-button {
  width: 36px;
  height: 36px;
  padding: 0;
}

h4.text-truncate {
  flex: 1;
}

/* Menu */
.menu {
  .btn-dark:not(:disabled):not(.disabled):active:focus,
  .btn-dark:not(:disabled):not(.disabled).active:focus,
  .show > .btn-dark.dropdown-toggle:focus {
    outline: none;
    box-shadow: none;
  }

  .btn-dark.active {
    background-color: $primary !important;
    border-color: $primary !important;
  }
}

pre {
  font-family: monospace;
  font-size: medium;
}

/* Labels */
.label-QUEUED {
  color: #209dd7;
  border: 1px solid #209dd7;
}

.label-RUNNING {
  color: #faa31b;
  border: 1px solid #faa31b;
}

.label-FINISHED {
  color: #5cb85c;
  border: 1px solid #5cb85c;
}

.label-ACTIVE {
  color: #5cb85c;
  border: 1px solid #5cb85c;
}

.label-ABORTED {
  color: #777777;
  border: 1px solid #777777;
}

.label-INACTIVE {
  color: #777777;
  border: 1px solid #777777;
}

.label-FAILED {
  color: #d9534f;
  border: 1px solid #d9534f;
}

.label-NO_WORKER,
.label-ERROR {
  color: #d9534f;
  border: 1px solid #d9534f;
}

.label-PLANNED {
  color: #4b0082;
  border: 1px solid #4b0082;
}

/* Log-Labels */
.log-label-ACTIVE {
  color: #5cb85c;
}

.log-label-INACTIVE {
  color: #777777;
}

.log-label-NO_WORKER,
.log-label-ERROR {
  color: #d9534f;
}

/* coo-table fixes */
.coo-table-component * {
  border-radius: 0 !important;
}

.coo-table-button-primary {
  background-color: #6c757d !important;
}

.coo-table-button-primary.selected,
.coo-table-button-primary:hover {
  background-color: #4c5258 !important;
}

.coo-table-button-primary.disabled {
  background-color: #989ea4 !important;
}

#coo-table-sorter.asc svg.sorter-up,
#coo-table-sorter.desc svg.sorter-down {
  color: #4c5258 !important;
}

#coo-table-select.selected svg {
  color: #6c757d !important;
  border-color: #6c757d !important;
}
