<div class="d-flex justify-content-between mb-3">
  <div *ngIf="statusService.running === undefined" class="d-flex align-items-center">
    <small class="text-muted"> Workhorse status is reqeusted...</small>
  </div>
  <div *ngIf="statusService.running !== undefined" class="d-flex align-items-center">
    <small class="text-muted font-weight-bold">
      Workhorse is {{ statusService.running ? 'running' : 'stopped with' }} {{ jobStatusCount?.total }} jobs:</small
    >
    <div class="ml-2 arends-dirty-hack">
      <job-status *ngIf="jobStatusCount?.active > 0" [status]="'ACTIVE'" [count]="jobStatusCount?.active" class="mr-2"></job-status>
      <job-status *ngIf="jobStatusCount?.inactive > 0" [status]="'INACTIVE'" [count]="jobStatusCount?.inactive" class="mr-2"></job-status>
      <job-status *ngIf="jobStatusCount?.error > 0" [status]="'ERROR'" [count]="jobStatusCount?.error" class="mr-2"></job-status>
      <job-status *ngIf="jobStatusCount?.noWorker > 0" [status]="'NO_WORKER'" [count]="jobStatusCount?.noWorker" class="mr-2"></job-status>
    </div>
  </div>

  <!-- Action-Buttons -->
  <div class="d-flex align-items-end">
    <div class="btn-group icon-btn-group" role="group">
      <button
        class="btn btn-outline-secondary"
        (click)="workhorseCookieService.setCookieValue('dashboardPanelLogs', !workhorseCookieService.cookie.dashboardPanelLogs)"
        ngbPopover="Show Logs"
        triggers="mouseenter:mouseleave"
        [class.active]="workhorseCookieService.cookie.dashboardPanelLogs"
      >
        <i class="ion ion-ios-document"></i>
      </button>
      <button
        class="btn btn-outline-secondary"
        (click)="workhorseCookieService.setCookieValue('dashboardPanelThreads', !workhorseCookieService.cookie.dashboardPanelThreads)"
        ngbPopover="Show Threads"
        triggers="mouseenter:mouseleave"
        [class.active]="workhorseCookieService.cookie.dashboardPanelThreads"
      >
        <i class="ion ion-ios-pulse"></i>
      </button>
      <button
        class="btn btn-outline-secondary"
        (click)="
          workhorseCookieService.setCookieValue('dashboardPanelLastExecutions', !workhorseCookieService.cookie.dashboardPanelLastExecutions)
        "
        ngbPopover="Show last executions"
        triggers="mouseenter:mouseleave"
        [class.active]="workhorseCookieService.cookie.dashboardPanelLastExecutions"
      >
        <i class="ion ion-ios-pie"></i>
      </button>
      <button
        class="btn btn-outline-secondary"
        (click)="
          workhorseCookieService.setCookieValue(
            'dashboardPanelExecutionsStatusSummarys',
            !workhorseCookieService.cookie.dashboardPanelExecutionsStatusSummarys
          )
        "
        ngbPopover="Show execution status summaries"
        triggers="mouseenter:mouseleave"
        [class.active]="workhorseCookieService.cookie.dashboardPanelExecutionsStatusSummarys"
      >
        <i class="ion ion-ios-list"></i>
      </button>
      <button
        class="btn btn-outline-secondary"
        (click)="
          workhorseCookieService.setCookieValue(
            'dashboardPanelScheduleTimelines',
            !workhorseCookieService.cookie.dashboardPanelScheduleTimelines
          )
        "
        ngbPopover="Show upcoming schedules"
        triggers="mouseenter:mouseleave"
        [class.active]="workhorseCookieService.cookie.dashboardPanelScheduleTimelines"
      >
        <i class="ion ion-md-alarm"></i>
      </button>
    </div>
  </div>
</div>

<!--  Dashboard-Panels -->
<div class="dashboard-row">
  <div *ngIf="workhorseCookieService.cookie.dashboardPanelLogs">
    <log-text [limit]="10"></log-text>
  </div>
  <div *ngIf="workhorseCookieService.cookie.dashboardPanelThreads">
    <app-threads></app-threads>
  </div>
  <div *ngIf="workhorseCookieService.cookie.dashboardPanelLastExecutions">
    <execution-count-pie-chart></execution-count-pie-chart>
  </div>
</div>

<div *ngIf="workhorseCookieService.cookie.dashboardPanelExecutionsStatusSummarys">
  <div class="dashboard-row">
    <div>
      <job-execution-status-summary [status]="'PLANNED'"> </job-execution-status-summary>
    </div>
    <div>
      <job-execution-status-summary [status]="'QUEUED'"> </job-execution-status-summary>
    </div>
    <div>
      <job-execution-status-summary [status]="'RUNNING'"> </job-execution-status-summary>
    </div>
  </div>
  <div class="dashboard-row">
    <div>
      <job-execution-status-summary [status]="'ABORTED'"> </job-execution-status-summary>
    </div>
    <div>
      <job-execution-status-summary [status]="'FINISHED'"> </job-execution-status-summary>
    </div>
    <div>
      <job-execution-status-summary [status]="'FAILED'"> </job-execution-status-summary>
    </div>
  </div>
</div>

<div *ngIf="workhorseCookieService.cookie.dashboardPanelScheduleTimelines">
  <div class="dashboard-row">
    <div>
      <schedule-timeline-chart> </schedule-timeline-chart>
    </div>
  </div>
</div>
