<div class="modal-header">
  <h4 class="modal-title modal-header-vertical-center">Create Execution</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true" class="icon icon ion-md-close"></span>
  </button>
</div>

<div class="modal-body">
  <div class="mb-5">
    <job-summary [job]="job"></job-summary>
  </div>

  <div class="mb-3">
    <button
      type="button"
      class="btn btn-outline-secondary mr-2"
      (click)="newExecution.priority = !newExecution.priority"
      ngbPopover="{{ newExecution.priority ? 'Remove Priority' : 'Set Priority' }}"
      triggers="mouseenter:mouseleave"
    >
      <i [hidden]="newExecution.priority" class="ion ion-ios-star-outline"></i>
      <i [hidden]="!newExecution.priority" class="ion ion-ios-star"></i>
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary"
      ngbPopover="Plan execution time"
      triggers="mouseenter:mouseleave"
      [owlDateTimeTrigger]="dtPlannedFor"
    >
      <i class="ion ion-ios-calendar" [class.planned]="newExecution.plannedFor"></i>
    </button>
    <input
      [(ngModel)]="newExecution.plannedFor"
      [owlDateTimeTrigger]="dtPlannedFor"
      [owlDateTime]="dtPlannedFor"
      [min]="minPlannedFor"
      class="hide-planned-from"
      (ngModelChange)="updateDisplayDates()"
    />
    <owl-date-time #dtPlannedFor [showSecondsTimer]="true"></owl-date-time>

    <job-execution-timeline
      class="ml-3"
      *ngIf="displayPlannedFor"
      [status]="'PLANNED'"
      [createdAt]="displayCreatedAt"
      [plannedFor]="displayPlannedFor"
      [embedded]="true"
      [hideCreatedAt]="true"
    >
    </job-execution-timeline>
    <span
      *ngIf="displayPlannedFor"
      (click)="clearPlannedFor()"
      ngbPopover="Clear planned execution time"
      triggers="mouseenter:mouseleave"
      class="click-action"
    >
      <i class="ion-md-close-circle"></i>
    </span>
  </div>

  <div *ngIf="job?.parametersClassName">
    <div class="mb-3">
      <textarea
        type="text"
        [(ngModel)]="newExecution.parameters"
        rows="{{ textareaRows }}"
        class="form-control"
        placeholder="Parameters JSON"
      ></textarea>
    </div>
    <div class="mb-3">
      <button
        type="button"
        class="btn btn-outline-secondary mr-2"
        (click)="getLatestParameters()"
        [disabled]="loading"
        ngbPopover="Retrieve the latest available parameters"
        triggers="mouseenter:mouseleave"
      >
        Latest
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary mr-2"
        (click)="getRandomParameters()"
        [disabled]="loading"
        ngbPopover="Generate random parameters"
        triggers="mouseenter:mouseleave"
      >
        Random
      </button>
    </div>
  </div>

  <div class="modal-footer d-flex justify-content-end">
    <button type="button" class="btn btn-outline-secondary mr-2" (click)="activeModal.dismiss()">Cancel</button>
    <app-save-button (upload)="createExecution()" [saveText]="'Create execution'" [loading]="loading"> </app-save-button>
  </div>
</div>
