.hide-planned-from {
  height: 0px;
  width: 0px;
  border: none;
  position: absolute;
  margin: 0px;
  padding: 0px;
}

textarea {
  border-radius: 0;
}

.ion-ios-star {
  color: #faa31b;
}

.planned {
  color: #4b0082;
}

.click-action {
  cursor: pointer;
  color: rgba(34, 34, 34, 0.2);
}

.click-action:hover {
  color: #6c757d;
}

::ng-deep .cdk-overlay-container,
.cdk-global-overlay-wrapper {
  z-index: 10001 !important;
}
