<div class="modal-header">
  <h4 class="modal-title modal-header-vertical-center">Create Execution</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true" class="icon icon ion-md-close"></span>
  </button>
</div>

<div *ngIf="loading" class="modal-body">
  <div class="row justify-content-center">
    <loading [loadingHorse]="true"></loading>
  </div>
</div>

<div *ngIf="!loading" class="modal-body">
  <div class="mb-5">
    <job-summary [job]="job"></job-summary>
  </div>



  <form [formGroup]="executionForm">

    <div class="form-group row">
      <label for="priority" class="col-2 col-form-label text-right">Priority</label>
      <div class="col-10">
        <!-- <i class="ion ion-ios-star-outline"></i> -->
        <app-switch formControlName="priority" id="priority" textOn="Yes" textOff="No" ></app-switch>
      </div>
    </div>

    <div class="form-group row">
      <label for="plannedFor" class="col-2 col-form-label text-right">Planned for</label>
      <input
        formControlName="plannedFor"
        [owlDateTimeTrigger]="dtPlannedFor"
        [owlDateTime]="dtPlannedFor"
        [min]="minPlannedFor"
        class="form-control col-3 ml-3"
      />
    </div>
    <owl-date-time #dtPlannedFor [showSecondsTimer]="true"></owl-date-time>

    <div *ngIf="job.parametersClassName" class="form-group row">
      <label for="parameters" class="col-2 col-form-label text-right">Parameters</label>
      <div class="col-10">
        <textarea class="form-control" type="text" id="parameters" formControlName="parameters"></textarea>
        <div
          class="error"
          *ngIf="executionForm.get('parameters').hasError('required') && (executionForm.get('parameters').touched || onExecuted)"
        >
          Required
        </div>
        <div class="text-muted" *ngIf="isExecution"><small>Prefilled values came from last execution</small></div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer d-flex justify-content-end">
  <button type="button" class="btn btn-outline-secondary mr-2" (click)="activeModal.dismiss()">Cancel</button>
  <app-save-button (upload)="onExecute()" saveText="Create execution" [loading]="loading"> </app-save-button>
</div>
