<div class="card h-100">
  <div class="card-header d-flex justify-content-between p-3">
    <h5 *ngIf="!metadata" class="d-inline-block">Log Messages</h5>
    <h5 *ngIf="metadata?.count > 0" class="d-inline-block">{{ metadata.count }} Log Messages</h5>
    <h5 *ngIf="metadata?.count === 0" class="d-inline-block">No Log Messages</h5>
    <div class="refresh d-inline-block">
      <button
        class="btn btn-outline-secondary"
        *ngIf="metadata?.count > 0"
        [hidden]="loading"
        [disabled]="workhorseCookieService.cookie.logTextLines <= logTextLinesMin"
        (click)="lessLogTextLines()"
        ngbPopover="Show 10 less log lines"
        triggers="mouseenter:mouseleave"
      >
        Show less
      </button>
      <button
        class="btn btn-outline-secondary ml-2"
        *ngIf="metadata?.count > 0"
        [hidden]="loading"
        [disabled]="workhorseCookieService.cookie.logTextLines >= logTextLinesMax"
        (click)="moreLogTextLines()"
        ngbPopover="Show 10 more log lines"
        triggers="mouseenter:mouseleave"
      >
        Show more
      </button>
      <log-button [jobId]="jobId" (newLog)="list()" class="ml-2"></log-button>
      <button
        class="btn btn-outline-secondary action-button ml-2"
        [routerLink]="jobId ? '/jobs/' + jobId + '/logs' : '/logs'"
        ngbPopover="Show all logs"
        triggers="mouseenter:mouseleave"
        placement="left"
      >
        <i class="ion ion-md-arrow-forward"></i>
      </button>
      <refresh-button class="ml-2" (click)="list()" [refreshing]="loading"></refresh-button>
    </div>
  </div>

  <div *ngIf="loading" class="card-body p-5">
    <loading [loadingHorse]="true"></loading>
  </div>

  <div *ngIf="!loading" class="card-body p-3">
    <div *ngFor="let row of rows">
      <div class="log-text">
        <span ngbPopover="{{ row.createdAt | timeAgoStatic }}" triggers="mouseenter:mouseleave">
          [{{ row.createdAt | date: 'dd.MM.yyyy HH:mm:ss' }}]</span
        ><span
          *ngIf="row.jobId && !jobId"
          ngbPopover="{{ row.jobName }}"
          triggers="mouseenter:mouseleave"
          (click)="showLogs(row.jobId)"
          class="clickable"
          >[ID {{ row.jobId }}]</span
        ><span *ngIf="row.jobId" class="log-label-{{ row.jobStatus }}">[{{ row.jobStatus }}] </span>
        {{ row.message }}
        <span *ngIf="row.stacktrace" (click)="showLog(row)" ngbPopover="View stacktrace" triggers="mouseenter:mouseleave">
          <i class="ion ion-ios-document"></i>
        </span>
      </div>
    </div>
  </div>
</div>
