.time {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-weight: 500;
  font-size: 90%;
  line-height: 1;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: white;
}

.time hr {
  margin-top: 4px;
  margin-bottom: 4px;
}

.click-action {
  cursor: pointer;
  color: rgba(34, 34, 34, 0.2);
}

.click-action:hover {
  color: #6c757d;
}
